/Calculator T6
/index (3).html
/plan for a portfolio website.docx
/plan for a portfolio website.pdf
/Screenshot 2024-10-21 203117.jpg
/Screenshot 2024-10-21 203152.jpg
/Screenshot 2024-10-21 203210.jpg